{% extends "template.html" %}
{% block conteudo %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Food Restaurant NExT</title>
</head>
<body>
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Plate</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
                        <tr>
                            <td>{{ order.plate }}</td>
                            <td>{{ order.category }}</td>
                            <td>{{ order.price }}</td>
                        <tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="/new" role='button'>New</a>
    {% endblock %}
   